{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ title }}</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.date.label }}
            {{ form.date(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.clax_file.label }}
            {{ form.clax_file(class="form-control-file") }}

            {% if race and race.result_file_orig %}
                <small class="form-text text-muted mt-2">
                    Загруженный файл:
                    <a href="{{ url_for('auth.download_file', filename=race.result_file, original_name=race.result_file_orig) }}" target="_blank">
                        {{ race.result_file_orig }}
                    </a>
                </small>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
        <a href="{{ url_for('auth.all_races') }}" class="btn btn-secondary ml-2">Отмена</a>
    </form>
</div>
{% endblock %}
