{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Welcome to TopAthlets!</h1>
    <p>Что можно тестировать:</p>

    <li>Регистрацию и аутентификацию пользователей</li>
    <li>Администрирование пользователей: блокировка, права админа, удаление</li>
    <li>Фильтрация пользователей в админке по email</li>
    <li>Личный кабинет - ввод имени и фамилии</li>
    <li>Личный кабинет - редактирование имени и фамилии</li>
    <li>Соревнования - доступны для админов</li>
    <li>Соревнования - список соревнований с фильтрацией по имени</li>
    <li>Соревнования - добавление соревнования</li>
    <li>Соревнования - редактирование соревнования</li>
    <li>Соревнования - удаление соревнования</li>
    <li>Соревнования - возможность скачивать файлы соревнования</li>
    <li>Соревнования - вывод на главную списка всех соревнований отсоритрованных по дате по убыванию</li>
    <li>Соревнования - просмотр деталей соревнований с главной страницы и из списка соревнований</li>
    <li>Соревнования - возможность пользователю заявить о своем участии в соревновании</li>
    <li>Личный кабинет - вывод списка соревнований в которых было заявлено участие</li>

    <hr class="my-5">

    <h2 class="mb-4">Все соревнования</h2>

    <div class="row">
        {% for race in races %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ race.name }}</h5>
                        <p class="card-text">
                            <strong>Дата:</strong> {{ race.date.strftime('%d.%m.%Y') }}
                        </p>
                        <a href="{{ url_for('auth.race_detail', race_id=race.id) }}" class="btn btn-primary">
                            Детали соревнования
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="ml-3">Соревнования пока не добавлены.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
