{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Welcome to TopAthlets!</h1>
        <p>Что можно тестировать:</p>

        <li>Регистрацию и аутентификацию пользователей</li>
        <li>Администрирование пользователей: блокировка, права админа, удаление</li>
        <li>Фильтрация пользователей в админке по email</li>
        <li>Личный кабинет: ввод имени и фамилии</li>
        <li>Личный кабинет: редактирование имени и фамилии</li>
        <li>Соревнования - доступны для админов</li>
        <li>Соревнования - список соревнований с фильтацией по имени</li>
        <li>Соревнования - добавление соревнования</li>
        <li>Соревнования - редактирование соревнования</li>
        <li>Соревнования - удаление соревнования</li>
        <li>Соревнования - возможность скачивать файлы соревнования</li>

    </div>
{% endblock %}
